doctype html
html(lang='en')
  head
    title Quaint Quotes
    meta(charset='UTF-8')
    meta(
      name='viewport'
      content='width=device-width, '
        + 'initial-scale=1, '
        + 'shrink-to-fit=no, '
        + 'user-scalable=no'
    )
    script.
      if (screen.width < 410)
        changeViewportWidth(410, screen.width / 410, 'yes');

      screen.orientation.onchange = function () {
        if (screen.width < 410)
          changeViewportWidth(410, screen.width / 410, 'yes');
        else
          changeViewportWidth('device-width', 1.0, 'no');
      };

      function changeViewportWidth(width, initialScale, stf) {
        let viewport = document.querySelector("meta[name=viewport]");

        viewport.parentNode.removeChild(viewport);

        let newViewport = document.createElement("meta");

        newViewport.setAttribute("name", "viewport");
        newViewport.setAttribute("content", "width=" + width
          + ", initial-scale=" + initialScale
          + ", maximum-scale=" + initialScale
          + ", maximum-scale=" + initialScale
          + ", shrink-to-fit=" + stf
          + ", user-scalable=no");
        document.head.appendChild(newViewport);
      }
    link(
      rel='stylesheet'
      href='/css/bootstrap.min.css'
    )
    link(
      rel='stylesheet'
      href='/css/layout-basic.css'
    )
    link(
      rel='stylesheet'
      href='/css/jquery.auto-complete.css'
    )
    if (page='account')
      include includes/profile-head

  body
    //- header

    nav(class='navbar navbar-expand-lg navbar-light bg-light py-1 pl-0 pr-2 pr-lg-3 pl-lg-1')
      a(
        class='navbar-brand py-0 my-0 mr-0'
        href='/'
      )
        img(src="/miscellaneous/logo.svg" width="90" height="50" alt='')
      div(class='dropdown dropdown-search-cog d-flex my-1')
        button(
          id='mobileSearchHeaderSettings'
          class='d-flex d-lg-none pl-0 search-cog-icon'
          type='button'
          data-toggle='dropdown'
          aria-haspopup='true'
          aria-expanded='false'
        )
          span(class='fas fa-lg fa-cog')
        div(class='dropdown-menu aria-labelledby="mobileSearchHeaderSettings"')
          form#mobileSearchSettings
            div(class='form-group mb-2')
              h4.dropdown-header Search for
              div(class='pl-4 ml-2')
                .form-check
                  input(
                    type='radio'
                    id='quotesDDMCheck'
                    class='form-check-input'
                    name='searchFor'
                    checked
                  )
                  label(
                    for='quotesDDMCheck'
                    class='form-check-label pl-4'
                  ) quotes
                .form-check
                  input(
                    type='radio'
                    id='topicsDDMCheck'
                    class='form-check-input'
                    name='searchFor'
                  )
                  label(
                    for='topicsDDMCheck'
                    class='form-check-label pl-4'
                  ) topics
                .form-check
                  input(
                    type='radio'
                    id='authorsDDMCheck'
                    class='form-check-input'
                    name='searchFor'
                  )
                  label(
                    for='authorsDDMCheck'
                    class='form-check-label pl-4'
                  ) authors
            div(class='form-group mb-2')
              h4.dropdown-header Number of results per page
              .input-group
                span(class='pl-4 ml-2 mb-2') quotes
                input(
                  type='text'
                  class='form-control'
                  name='quotesPerPage'
                  value='25'
                )
              .input-group
                span(class='pl-4 ml-2 mb-1') topics/authors
                input(
                  type='text'
                  class='form-control'
                  name='topicsPerPage'
                  value='50'
                )
      form(
        class='form-inline d-flex d-lg-none mr-2'
        id='mobileSearch'
      )
        div(class='input-group w-100')
          input(
            type='text'
            class='form-control w-100 search'
            name='search'
            placeholder='Search for quotes'
          )
          .input-group-append
            button(
              class="btn-custom-search"
              type="button"
            )
              span(class='fas fa-search')
      button(
        class='navbar-toggler'
        type='button'
        data-toggle='collapse'
        data-target='#navbar'
        aria-controls='navbar'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        span.navbar-toggler-icon
      div(
        class='collapse navbar-collapse'
        id='navbar'
      )
        ul(class='navbar-nav mr-auto')
          li.nav-item
            a(
              class='nav-link'
              href='/'
            ) Home
          li.nav-item
            a(
              class='nav-link'
              href='/authors'
            ) Authors
          li.nav-item
            a(
              class='nav-link'
              href='/topics'
            ) Topics
          if (authorized)
            li.nav-item
              a(
                class='nav-link'
                href='/favorites'
              ) Favorites
          li.nav-item
            a(
              class='nav-link'
              href='/termsofuse'
            ) Terms of use
          li.nav-item
            a(
              class='nav-link'
              href='/contact'
            ) Contact
        div(class='dropdown dropdown-search-cog d-flex')
          button(
            id='desktopSearchHeaderSettings'
            class='d-none d-lg-flex pl-0 search-cog-icon'
            type='button'
            data-toggle='dropdown'
            aria-haspopup='true'
            aria-expanded='false'
          )
            span(class='fas fa-fw fa-cog')
          div(class='dropdown-menu aria-labelledby="desktopSearchHeaderSettings"')
            form#desktopSearchSettings
              div(class='form-group mb-2')
                h4.dropdown-header Search for
                div(class='pl-4 ml-2')
                  .form-check
                    input(
                      type='radio'
                      id='quotesDDDCheck'
                      class='form-check-input'
                      name='searchFor'
                      checked
                    )
                    label(
                      for='quotesDDDCheck'
                      class='form-check-label pl-4'
                    ) quotes
                  .form-check
                    input(
                      type='radio'
                      id='topicsDDDCheck'
                      class='form-check-input'
                      name='searchFor'
                    )
                    label(
                      for='topicsDDDCheck'
                      class='form-check-label pl-4'
                    ) topics
                  .form-check
                    input(
                      type='radio'
                      id='authorsDDDCheck'
                      class='form-check-input'
                      name='searchFor'
                    )
                    label(
                      for='authorsDDDCheck'
                      class='form-check-label pl-4'
                    ) authors
              div(class='form-group mb-2')
                h4.dropdown-header Number of results per page
                .input-group
                  span(class='pl-4 ml-2 mb-2') quotes
                  input(
                    type='text'
                    class='form-control'
                    name='quotesPerPage'
                    value='25'
                  )
                .input-group
                  span(class='pl-4 ml-2 mb-1') topics/authors
                  input(
                    type='text'
                    class='form-control'
                    name='topicsPerPage'
                    value='50'
                  )
        form(
          class='form-inline d-none d-lg-flex mr-2'
          id='desktopSearch'
        )
          div(class='input-group w-100')
            input(
              type='text'
              class='form-control search'
              name='search'
              placeholder='Search for quotes'
            )
            .input-group-append
              button(
                class="btn-custom-search"
                type="button"
              )
                span(class='fas fa-search')
        div(
          class='btn-group buttons-header d-block d-lg-flex'
          role='group'
          aria-label=authorized ? 'profile or exit' : 'login or signup'
        )
          button(
            id='leftHeaderButton'
            type='button'
            class='btn btn-info custom-info d-block d-lg-inline-block'
          ) #{ authorized ? 'Profile' : 'LogIn' }
          button(
            id='rightHeaderButton'
            type='button'
            class='btn btn-info custom-info d-block d-lg-inline-block'
          ) #{ authorized ? 'LogOut' : 'SignUp' }

    unless authorized

      //- login modal

      div(
        id='loginModal'
        class='modal fade'
        tabindex='-1'
        role='dialog'
        aria-labelledby='loginModalTitle'
        aria-hidden='true'
      )
        div(
          class='modal-dialog'
          role='document'
        )
          .modal-content
            .modal-header
              h5(
                id='loginModalTitle'
                class='modal-title pl-3'
              ) Log In
              button(
                type='button'
                class='close'
                data-dismiss='modal'
                aria-label='Close'
              ) #[span(aria-hidden='true') &times;]

            div(class='modal-body px-4')
              form#loginForm
                .form-group
                  .input-group
                    input(
                      type='text'
                      class='form-control'
                      name='username'
                      placeholder='Username'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-envelope')
                div(class='form-group mb-2')
                  .input-group
                    input(
                      type='password'
                      class='form-control'
                      name='password'
                      placeholder='Password'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-lock')
                div(class='from-group mb-1')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Both fields must be filled
                div(class='row mb-2')
                  .col-6
                    .form-check
                      input(
                        type='checkbox'
                        id='keepLogin'
                        class='form-check-input'
                        name='keeplogin'
                        checked
                      )
                      label(
                        for='keepLogin'
                        class='form-check-label pl-4'
                      ) Keep me logged in
                  div(class='col-6 pr-4 text-right')
                    a(
                        href='#reset-password'
                        class='reset-password-anchor'
                      ) Forgot password?
                div(class='form-row justify-content-end')
                  .col-6
                    button(
                      type='button'
                      class='btn btn-secondary btn-close w-100'
                      data-dismiss='modal'
                    ) CANCEL
                  .col-6
                    button(
                      type='button'
                      id='loginSubmit'
                      class='btn btn-primary btn-confirm w-100'
                    ) LOG ME IN

            div(class='modal-footer justify-content-center')
              div #[span.text-secondary Don't have an account? ]
                a(
                  href='#signup'
                  class='signup-anchor'
                ) Sign Up

      //- signup modal

      div(
        id='signupModal'
        class='modal fade'
        tabindex='-1'
        role='dialog'
        aria-labelledby='signupModalTitle'
        aria-hidden='true'
      )
        div(
          class='modal-dialog'
          role='document'
        )
          .modal-content
            .modal-header
              h5(
                id='signupModalTitle'
                class='modal-title pl-3'
              ) Sign Up
              button(
                type='button'
                class='close'
                data-dismiss='modal'
                aria-label='Close'
              ) #[span(aria-hidden='true') &times;]

            .modal-body
              form#signupForm
                .form-group
                  div(class='input-group input-group-username')
                    input(
                      type='text'
                      class='form-control'
                      name='username'
                      placeholder='Username'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-user')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Error text
                .form-group
                  div(class='input-group input-group-email')
                    input(
                      type='text'
                      class='form-control'
                      name='email'
                      placeholder='E-mail'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-envelope')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Error text
                .form-group
                  div(class='input-group input-group-password')
                    input(
                      type='password'
                      class='form-control'
                      name='password'
                      placeholder='Password'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-lock')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Error text
                div(class='form-group mb-1')
                  div(class='input-group input-group-confpass')
                    input(
                      type='password'
                      class='form-control'
                      name='confpass'
                      placeholder='Confirm password'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-lock')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Error text
                div(class='form-row justify-content-center mx-1 tou')
                  div #[span.text-secondary By clicking "SIGN ME UP" you agree our ]
                    a(
                      href='/termsofuse'
                      class='tou-anchor'
                    ) Terms of use
                div(class='form-row justify-content-end mt-2')
                  .col-6
                    button(
                      type='button'
                      class='btn btn-secondary btn-close w-100'
                      data-dismiss='modal'
                    ) CANCEL
                  .col-6
                    button(
                      type='button'
                      id='signupSubmit'
                      class='btn btn-primary btn-confirm w-100'
                    ) SIGN ME UP

            div(class='modal-footer justify-content-center')
              div #[span.text-secondary Already have an account? ]
                a(
                  href='#login'
                  class='login-anchor'
                ) Log In

      //- acknowledgement modal

      div(
        id='ackModal'
        class='modal fade'
        tabindex='-1'
        role='dialog'
        aria-labelledby='ackModalTitle'
        aria-hidden='true'
      )
        div(
          class='modal-dialog'
          role='document'
        )
          .modal-content
            .modal-header
              h5(
                id='ackModalTitle'
                class='modal-title pl-3'
              ) Sign Up
              button(
                type='button'
                class='close'
                data-dismiss='modal'
                aria-label='Close'
              ) #[span(aria-hidden='true') &times;]

            .modal-body
              div(class='row justify-content-center')
                .col
                  p.text-center
                    | The message was sent on your e-mail.
                    | Please follow the instructions of it to confirm registration
                    | (it could be in your spam accidentally and
                    | take a few minutes to receive).
              div(class='row w-100')
                div(class='col-6 offset-3')
                  button(
                    type='button'
                    class='btn btn-secondary btn-close w-100'
                    data-dismiss='modal'
                  ) CLOSE

      //- password reset modal

      div(
        id='pwdModal'
        class='modal fade'
        tabindex='-1'
        role='dialog'
        aria-labelledby='pwdModalTitle'
        aria-hidden='true'
      )
        div(
          class='modal-dialog'
          role='document'
        )
          .modal-content
            .modal-header
              h5(
                id='pwdModalTitle'
                class='modal-title pl-3'
              ) Password Reset
              button(
                type='button'
                class='close'
                data-dismiss='modal'
                aria-label='Close'
              ) #[span(aria-hidden='true') &times;]

            .modal-body
              div(class='row justify-content-center')
                .col
                  p.text-center
                    | Enter your username or e-mail in field below
                    | and press 'GET PASSWORD' to receive a new password.
                    | It will be sent on your e-mail
                    | (it could be in your spam accidentally and
                    | take a few minutes to receive).
              form#pwdForm
                div(class='form-group mb-1')
                  .input-group
                    input(
                      type='text'
                      class='form-control'
                      name='recipient'
                      placeholder='Username/e-mail'
                    )
                    span.input-group-addon
                      span(class='fas fa-fw fa-user')
                div(class='from-group mb-2')
                  div(class='input-alert input-alert-hidden text-truncate')
                    span(class='fas fa-fw fa-exclamation fa-xs')
                    .
                      Field must be filled
              div(class='form-row justify-content-end')
                .col-6
                  button(
                    type='button'
                    class='btn btn-secondary btn-close w-100'
                    data-dismiss='modal'
                  ) CANCEL
                .col-6
                  button(
                    type='button'
                    id='pwdSubmit'
                    class='btn btn-primary btn-confirm w-100'
                  ) GET PASSWORD

            div(class='modal-footer justify-content-center')
              div
                p(
                  class='text-center text-secondary my-0'
                 )
                 | You can change your password on your profile page.
                 | To access it you have to #[a(href="#login" class="login-anchor") Log In]

    block content
      h2.pl-4 Sorry! No content to show.

    script(src='/js/libs/jquery-3.2.1.min.js')
    script(src='/js/libs/jquery.auto-complete.min.js')
    script(src='/js/libs/popper.min.js')
    script(src='/js/libs/bootstrap.min.js')
    script(src='/js/libs/fontawesome-all.min.js')

    script(src='/js/search.js')

    if authorized
      script(src='/js/profile.js')
    else
      script(src='/js/auth.js')

    if (page == 'account')
      script(src='/js/account.js')